*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body{
    padding: 20px;
}

header{
    border: 2px solid black;
    border-bottom: 1px solid black;
}

header div {
    margin: 20px;
}

header p{
    text-align: center;
    font-size: 30px;
}

.nav-link{
    border-right: 2px solid black;
    width: 370px;
}

main{
    border: 2px solid black;
    display: flex;
}

footer{
    border: 2px solid black;
    border-top: 1px solid black;
}

footer p{
    text-align: center;
    margin: 50px 0;
}

footer a{
    display: inline-block;
    text-align: right;
    font-size: 30px;
    text-decoration: none;
    color: rgb(96, 96, 255);
    transition-duration: 0.5s;
}

footer a:hover{
    transition-duration: 0.5s;
    color: red;
    text-decoration: underline;
}

.nav-link-list{
    margin: 10px 10px 10px 30px;
}

.nav-link-list li{
    margin-bottom: 10px;
    color: rgb(96, 96, 255);
}

.nav-link-list li a{
    text-decoration: none;
    color: rgb(96, 96, 255);
    transition-duration: 0.5s;
}

.nav-link-list li a:hover{
    transition-duration: 0.5s;
    color: red;
    text-decoration: underline;
}

.nav-link-list:first-child li{
    margin-top: 10px;
}

.nav-link-list-list{
    list-style-type:none;
}

.text{
    margin: 20px;
    width: 100%;
}

.text img {
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}