<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <p>Кнопка запуску MasterWindow</p>
        </div>
        
    </header>
    <main>
        <nav class="nav-link">
            <ol class="nav-link-list">
                <li>
                    <a href="./1.html">Головна сторінка</a>
                    <ul class="nav-link-list-list">
                        <li><a href="./1.1.html">1.1 Таблиця клієнтів</a></li>
                        <li><a href="./1.2.html">1.2 Таблиця договорів</a></li>
                        <li><a href="./1.3.html">1.3 Пошук по клієнтам</a></li>
                        <li><a href="./1.4.html">1.4 Редагування даних</a></li>
                        <li><a href="./1.5.html">1.5 Видалення даних</a></li>
                        <li><a href="./1.6.html">1.6 Кнопка запуску MasterWindow</a></li>
                        <li><a href="./1.7.html">1.7 Фото клієнта</a></li>
                    </ul>
                </li>
                <li>
                    <a href="./2.html">Вікно акція-договір</a>
                    <ul class="nav-link-list-list">
                        <li><a href="./2.1.html">2.1 Таблиця акцій</a></li>
                        <li><a href="./2.2.html">2.2 Таблиця договорів</a></li>
                        <li><a href="./2.3.html">2.3 Пошук по акціям</a></li>
                        <li><a href="./2.4.html">2.4 Редагування даних</a></li>
                        <li><a href="./2.5.html">2.5 Видалення даних</a></li>
                        <li><a href="./2.6.html">2.6 Оновлення даних</a></li>
                    </ul>
                </li>
                <li><a href="./3.html">Вікно редагування даних про клієнта</a></li>
                <li><a href="./4.html">Вікно редагування даних про договір</a></li>
                <li><a href="./5.html">Вікно редагування даних про акцію</a></li>
                <li><a href="./6.html">Вікна додавання</a></li>
            </ol>
        </nav>
        <div class="text">
            <img src="../img/1.6.png">
            <p>Натиснувши кнопку Go to Master page, запуститься MasterWindow</p> 
        </div>
    </main>
    <footer>
        <p>
            <a href="../index.html">Вихід на говну сторінку</a>
        </p>
    </footer>
</body>
</html>